<table class="table table-bordered">
<tr>
	<td><button ng-click="vm.ok()" class="btn col-lg-12 btn-success">OK</button></td>
	<td><button ng-click="vm.home()" class="btn col-lg-12 btn-primary">Home</button></td>
	<td><button ng-click="vm.power()" class="btn col-lg-12 btn-danger">Power</button></td>
<tr><tr>
	<td><button ng-click="vm.pressKey('1')" class="btn col-lg-12 btn-primary">1</button></td>
	<td><button ng-click="vm.pressKey('2')" class="btn col-lg-12 btn-primary">2</button></td>
	<td><button ng-click="vm.pressKey('3')" class="btn col-lg-12 btn-primary">3</button></td>
<tr></tr>
	<td><button ng-click="vm.pressKey('4')" class="btn col-lg-12 btn-primary">4</button></td>
	<td><button ng-click="vm.pressKey('5')" class="btn col-lg-12 btn-primary">5</button></td>
	<td><button ng-click="vm.pressKey('6')" class="btn col-lg-12 btn-primary">6</button></td>
<tr></tr>
	<td><button ng-click="vm.pressKey('7')" class="btn col-lg-12 btn-primary">7</button></td>
	<td><button ng-click="vm.pressKey('8')" class="btn col-lg-12 btn-primary">8</button></td>
	<td><button ng-click="vm.pressKey('9')" class="btn col-lg-12 btn-primary">9</button></td>
<tr></tr>
	<td><button ng-click="vm.progUp()" class="btn col-lg-12 btn-primary">Prog +</button></td>
	<td><button ng-click="vm.pressKey('0')" class="btn col-lg-12 btn-primary">0</button></td>
	<td><button ng-click="vm.volumeUp()" class="btn col-lg-12 btn-primary">Volume +</button></td>
</tr><tr>
	<td><button ng-click="vm.progDown()" class="btn col-lg-12 btn-primary">Prog -</button></td>
	<td><button ng-click="vm.mute()" class="btn col-lg-12 btn-primary">Mute</button></td>
	<td><button ng-click="vm.volumeDown()" class="btn col-lg-12 btn-primary">Volume -</button></td>
</tr>
</div>
